/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/background.scss ***!
  \*************************************************************************************************************************/
.root {
  background: #21242c;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/menu/menus.scss ***!
  \*************************************************************************************************************************/
@font-face {
  font-family: titleFont;
  src: url(5bdeaa7b5cbf0cbb4231.ttf);
}
@font-face {
  font-family: menuFont;
  src: url(3843f456cf56d275baf6.ttf);
}
.header {
  background: #20242b;
  height: 20%;
}

@media screen and (min-width: 1120px) {
  .header #menu #icons {
    float: right;
  }

  .header #menu #logo {
    padding-top: 10px;
  }

  .header #lowerSizeMenu {
    font-size: 0px;
    display: none;
    visibility: hidden;
  }

  #hiddenMenu {
    font-size: 0px;
    display: none;
    visibility: hidden;
  }

  .header ul li {
    font-family: menuFont;
    font-weight: bold;
    display: inline-block;
    color: white;
    list-style-type: none;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0px 0px 20px 30px;
  }

  .header #menu {
    display: flex;
    padding: 0;
  }

  .header ul li a {
    transition: color 0.5s ease-out;
  }

  .header ul li a:link {
    color: white;
    text-decoration: none;
  }

  .header ul li a:visited {
    color: white;
    text-decoration: none;
  }

  .header ul li a:hover {
    color: #cfb53b;
  }

  .header #explore, #news, #dashboard, #help {
    letter-spacing: 1px;
  }

  .header #input {
    width: 140px;
    padding: 0px 0px 20px 20px;
  }

  .header ul li:hover {
    color: #cfb53b;
  }

  .header #proton {
    font-family: titleFont;
    font-size: 2.5rem;
  }

  .header #proton, #db {
    padding: 0px;
  }

  .header li input {
    font-size: 1rem;
    appearance: none;
    padding-bottom: 5px;
    width: 100%;
    color: white;
    border: #21242c;
    background-color: #21242c;
    border-bottom: 1px solid white;
  }

  .header li input:hover {
    border-bottom: 2px solid white;
  }

  .header #menu .material-symbols-outlined {
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    transition: color 0.5s ease-out;
  }

  .header .material-symbols-outlined a {
    transition: color 0.5s ease-out;
    color: white;
    text-decoration: none;
  }

  .header .material-symbols-outlined a:visited {
    color: white;
  }

  .header .material-symbols-outlined a:hover {
    color: #cfb53b;
  }

  .header .material-symbols-outlined {
    color: white;
  }

  .header #db {
    color: #cfb53b;
    font-family: titleFont;
    font-size: 2.5rem;
  }

  .header #db a {
    color: #cfb53b;
  }

  .pageBody #stats #steamDeckImage {
    position: relative;
  }

  .pageBody #stats #steamDeckImage #steamDeckStats {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 200px;
    width: 100%;
    position: absolute;
    left: 320px;
  }

  .pageBody #stats #steamDeckImage #steamDeckStats img {
    width: 43%;
  }
}
@media screen and (max-width: 1120px) {
  .header #hiddenMenu {
    transform: translateX(-48px);
    width: 0%;
    height: 0%;
  }

  .header #menu {
    display: none;
  }

  .header #menu2 #protonText2 {
    font-family: titleFont;
    font-size: 2.5rem;
    display: inline;
  }

  .header #menu2 {
    display: flex;
    list-style-type: none;
    padding: 0 15px 0 15px;
  }

  .header #menu2 #protonText2 #db2 {
    color: #cfb53b;
    text-decoration: none;
  }

  .header #menu2 #protonText2 #proton2, #db2 {
    text-decoration: none;
  }

  .header #menu2 #protonText2 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in;
  }

  .header #menu2 #protonText2 a:link {
    color: white;
    text-decoration: none;
  }

  .header #menu2 #protonText2 a:visited {
    color: white;
    text-decoration: none;
  }

  .header #menu2 #protonText2 a:hover {
    color: #cfb53b;
    text-decoration: none;
  }

  .header #lowerSizeMenu #menu2 #menuIcon {
    color: white;
    padding-top: 10px;
    padding-right: 10px;
  }

  .header #lowerSizeMenu #menu2 #logo2 {
    padding-top: 10px;
  }

  .header #menu2 input {
    width: 135px;
    padding: 10px 0px 5px 0px;
    font-size: 1rem;
    appearance: none;
    padding-bottom: 5px;
    color: white;
    border: #21242c;
    background-color: #21242c;
    border-bottom: 1px solid white;
    transition: color 1s ease-in;
  }

  .header #menu2 input:hover {
    border-bottom: 2px solid white;
  }

  .header #menu2 #input2 {
    padding: 0 0 0 20px;
  }

  .header #lowerSizeMenu #menu2 span {
    justify-content: right;
  }
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/images.scss ***!
  \*********************************************************************************************************************/
.material-symbols-outlined, .material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

.header #menu2 .material-symbols-outlined {
  position: right;
}
/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/body/body.scss ***!
  \************************************************************************************************************************/
html {
  background-color: #21242c;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: menuFont;
  src: url(3843f456cf56d275baf6.ttf);
}
.pageBody {
  background: #21242c;
  display: flex;
  flex-direction: column;
}

.pageBody #messages {
  display: flex;
  height: 60%;
  flex-wrap: wrap;
}

.pageBody #messages #message1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageBody #messages #message1 p {
  padding-top: 100px;
  font-size: 38px;
  color: white;
  font-family: menuFont;
  width: 50%;
}

.pageBody #messages #message2 {
  width: 50%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.pageBody #messages #message2 #deckVerified li, #deckPlayable li, #threeOrMore li, #twoOrMore li, #atLeastOne li {
  display: inline-block;
  color: #cfb53b;
  font-family: menuFont;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 18px;
}

.pageBody #messages #message2 #deckVerified #test1 {
  display: flex;
  flex-grow: 1;
  gap: 250px;
}

.pageBody #messages #message2 #deckPlayable #test2 {
  display: flex;
  flex-grow: 1;
  gap: 83px;
}

.pageBody #messages #message2 #threeOrMore #test3 {
  display: flex;
  flex-grow: 1;
  gap: 190px;
}

.pageBody #messages #message2 #twoOrMore #test4 {
  display: flex;
  flex-grow: 1;
  gap: 195px;
}

.pageBody #messages #message2 #atLeastOne #test5 {
  display: flex;
  flex-grow: 1;
  gap: 170px;
}

.pageBody #messages #message2 #test1 {
  list-style-image: url(bc1a327b50bc08fdaca6.svg);
}

.pageBody #messages #message2 #deckVerified #firstLine, #deckPlayable #secondLine {
  text-decoration: underline;
  font-size: 28px;
}

.pageBody #messages #message2 #deckVerified #firstLine a:visited, #deckPlayable #secondLine a:visited {
  color: #cfb53b;
  font-size: 28px;
}

.pageBody #messages #message2 #deckVerified #firstLine a:link, #deckPlayable #secondLine a:link {
  color: #cfb53b;
  font-size: 28px;
}

.pageBody #messages #message2 #threeOrMore #thirdLine, #twoOrMore #fourthLine, #atLeastOne #fifthLine {
  font-size: 28px;
}

.pageBody #messages #message2 #gamesOnProtonDB, #verified {
  color: white;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-family: menuFont;
  font-size: 28px;
}

.pageBody #stats {
  background-color: #21242c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageBody #stats #steamDeckImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
}

.pageBody #stats #steamDeckImage img {
  padding-left: 100px;
}

.pageBody #newPost {
  padding-bottom: 50px;
  background-color: #21242c;
  font-size: 18px;
  text-align: center;
  font-family: menuFont;
  color: #8f9195;
}

.pageBody #newPost a:visited {
  color: #8f9195;
}

.pageBody #whatIsProton {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  line-height: 32px;
  -moz-box-align: center;
}

.pageBody #whatIsProton {
  color: white;
  font-family: menuFont;
  margin-bottom: 32px;
}

.pageBody #whatIsProton h2 {
  font-size: 33px;
}

.pageBody #whatIsProton p {
  font-weight: bold;
  max-width: 800px;
  font-size: 18px;
}

.pageBody #whatIsDB {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  line-height: 32px;
  -moz-box-align: center;
}

.pageBody #whatIsDB {
  color: white;
  font-family: menuFont;
  margin-bottom: 32px;
}

.pageBody #whatIsDB p {
  max-width: 800px;
  font-weight: bold;
  font-size: 18px;
}

.pageBody #whatIsDB h2 {
  font-size: 33px;
  text-align: center;
}
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/stats.scss ***!
  \********************************************************************************************************************/

/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/footer/footer.scss ***!
  \****************************************************************************************************************************/
@font-face {
  font-family: menuFont;
  src: url(3843f456cf56d275baf6.ttf);
}
.footer #divider {
  background-color: white;
  background-blend-mode: luminosity;
  background-image: linear-gradient(to right, rgb(88, 88, 88), rgb(151, 148, 148), rgb(193, 191, 191), white, rgb(193, 191, 191), rgb(151, 148, 148), rgb(88, 88, 88));
  height: 3px;
  width: 100%;
  display: flex;
}

.footer {
  width: 100%;
  background-color: rgb(34, 34, 34);
}

.footer #footerInfo {
  flex-direction: row;
  opacity: 0.9;
  width: 100%;
  display: flex;
  font-family: menuFont;
}

.footer #footerInfo p {
  color: rgba(255, 255, 255, 0.615);
}

.footer #footerInfo #dbInfo {
  width: 80%;
}

.footer #footerInfo #dbInfo #info1 {
  padding: 16px 32px 20px;
}

.footer #footerInfo #dbInfo #info2, #info3 {
  padding: 0 0 0 32px;
}

.footer #footerInfo #advices {
  width: 30%;
  align-items: flex-end;
  padding-top: 30px;
  display: flex;
  text-align: right;
  flex-wrap: wrap;
  justify-content: right;
}
